#account-page.account-page
  .Box
    .Header
      ここはヘッダーです
    .Main
      .UserInputTitle
        会員情報入力
      .UserInputError
        = render "devise/shared/error_messages", resource: resource
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        .Input
          .Input__nickname
            .Input__nickname__text.SideType
              .Input__nickname__text.bold
                ニックネーム
              .Input__nickname__text.red
                必須
            = f.text_field :nickname, autofocus: true, placeholder: "　例）フリマ太郎", class: "Input__nickname__form"
          .Input__email
            .Input__email__text.SideType
              .Input__email__text.bold
                メールアドレス
              .Input__email__text.red
                必須
            = f.text_field :email, placeholder: "　PC・携帯どちらでも可", class: "Input__email__form"
          .Input__password
            .Input__password__text.SideType
              .Input__password__text.bold
                パスワード
              .Input__password__text.red
                必須
            = f.password_field :password, autocomplete: "off", placeholder: "　7文字以上の半角英数字", class: "Input__password__form"
          .Input__password
            .Input__password__text.SideType
              .Input__password__text.bold
                パスワード(確認用)
              .Input__password__text.red
                必須
            = f.password_field :password_confirmation, autocomplete: "off", placeholder: "　もう一度パスワードを入力してください", class: "Input__password__form"
            .Input__password.Note
              ※英字と数字の両方を含めて設定してください
          .Input__name
            .Input__name__title.bold
              本人確認
            .Input__name__description
              安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
            .Input__name__text.SideType
              .Input__name__text.bold
                お名前(全角)
              .Input__name__text.red
                必須
            .Input__name__fullname
              = f.text_field :family_name, autofocus: true, placeholder: "　例）山田", class: "Input__name__fullname__family_name"
              = f.text_field :first_name, autofocus: true, placeholder: "　例）彩", class: "Input__name__fullname__first_name"
            .Input__name__text.SideType
              .Input__name__text.bold
                お名前カナ(全角)
              .Input__name__text.red
                必須
            .Input__name__furigana
              = f.text_field :family_furigana, autofocus: true, placeholder: "　例）ヤマダ", class: "Input__name__furigana__family_name"
              = f.text_field :first_furigana, autofocus: true, placeholder: "　例）アヤ", class: "Input__name__furigana__first_name"
          .Input__birthday
            .Input__birthday__text.SideType
              .Input__birthday__text.bold
                生年月日
              .Input__birthday__text.red
                必須
            .Input__birthday__select
              .Input__birthday__select__year
                = f.select :birthday_year, {}, {}, id: "birthday_year", prompt: "--", autofocus: true do
                  - array = []
                  - array[0] = "--"
                  - for i in 1..100 do array[i] = 2011-i end
                  = options_for_select(array) 
                %span
                  年
              .Input__birthday__select__month
                = f.select :birthday_month, [[1], [2], [3], [4], [5], [6], [7], [8], [9], [10], [11], [12]], id: "birthday_month", prompt: "--", autofocus: true
                %span
                  月
              .Input__birthday__select__day
                = f.select :birthday_day, [[1], [2], [3], [4], [5], [6], [7], [8], [9], [10], [11], [12], [13], [15], [16],[17, ][18], [19], [20], [21], [22], [23], [24], [25], [26], [27], [28], [29], [30], [31]], id: "birthday_day", prompt: "--", autofocus: true  
                %span
                  日

          .Input__submit
            .Input__submit__text.Note
            ※本人情報は正しく入力してください。会員登録後、修正するにはお時間をいただく場合があります。
            .Input__submit__description
              「登録する」のボタンを押すことにより、
              = link_to "root_path" do
                利用規約
              に同意したものとみなします
            .Input__submit__btn
              = f.submit "Next", class: "Btn"
