= render partial: 'shared/headerA'
.Wrapper-my
  .Mypage
    .MypageLeft
      = render partial: 'shared/mypageLeft'

    .MypageRight
      .MypageRight__user
        .MypageRight__user__tabs
          .MypageRight__user__tabs__top
            .MypageRight__user__tabs__top__pic
              = image_tag 'member_photo_noimage_thumb.png', class: "MypageRight__user__tabs__top__pic"
            .MypageRight__user__tabs__top__name
              #{current_user.nickname}
            .MypageRight__user__tabs__top__inf
              .MypageRight__user__tabs__top__inf__val
                評価　0
              .MypageRight__user__tabs__top__inf__num
                出品数　0

        .MypageRight__user__todo
          .MypageRight__user__todo__tabs
            .MypageRight__user__todo__tabs__news
              お知らせ
            .MypageRight__user__todo__tabs__todo
              やることリスト
          .MypageRight__user__todo__contents
            お知らせがありません
      .MypageRight__purcha
        .MypageRight__purcha__head
          購入した商品
        .MypageRight__purcha__tabs
          .MypageRight__purcha__tabs__now
            取引中
          .MypageRight__purcha__tabs__past
            過去の取引
        .MypageRight__purcha__contents
          取引中の商品がありません

= render partial: 'shared/appBanner'
= render partial: 'shared/footerA'