.Footer2
  .Footer2__list
    = link_to "プライバシーポリシー", "#", class: :"Footer2__list--text"
    = link_to "フリマの利用規約", "#", class: :"Footer2__list--text"
    = link_to "特定商取引に関する表記", "#", class: :"Footer2__list--text"
  .Footer2__logo
    = link_to "#" do
      = image_tag "logo-white.png", class: :"Footer2__logo--text"
  .Footer2--text
    FURIMA, ink.