-cates.zip(piccs) do |cate, picc|
  .ProductList
    %a
    = link_to  "/products/#{cate.id}" do
      %figure.ProductList--img
        = image_tag("#{picc.picture}")
      .ProductList--body
        %h3.Name #{cate.name}
        .Details
          %ul
            %li #{cate.price}円
            %li
              %i.fa.fa-star.likeIcon
                0
          %p (税込)