.WrapperNew
  = render 'layouts/notifications'
  = link_to "戻る", root_path

  .Logo
    = image_tag "logo.png", class: :"Logo__png"
  .Contents 
    -# = form_with model: @item, class: :form, local: true do |f|
    .Contents__title
      商品の情報を入力
    = form_with model: @item, class: :form, local: true do |f|
      .Contents__image
        .Contents__image__title
          %span.Contents__image__title--text 出品画像
          %span.Contents__image__title--must 必須  
        .Contents__image__capture
          最大10枚までアップロードできます
          %br 枠線の中をクリックしてください

          #image-box-1
            .item-num-0#image-box__container
              = f.fields_for :images do |i|
                %label.upload-label
                  .Contents__image__upload
                    .container
                      = i.label :picture, for: "item_images_attributes_0_picture", class: "camera" do
                        = icon('fa', 'camera',)
                      = i.file_field :picture, id: "item_images_attributes_0_picture", class: "img",  style: "display: none;", name: "item[images_attributes][0][picture]"

                      = i.label :picture, for: "item_images_attributes_1_picture", class: "camera" do
                        = icon('fa', 'camera')
                      = i.file_field :picture, id: "item_images_attributes_1_picture", class: "img", style: "display: none;", name: "item[images_attributes][1][picture]"

                      = i.label :picture, for: "item_images_attributes_2_picture", class: "camera" do
                        = icon('fa', 'camera')
                      = i.file_field :picture, id: "item_images_attributes_2_picture", class: "img", style: "display: none;", name: "item[images_attributes][2][picture]"

                      = i.label :picture, for: "item_images_attributes_3_picture", class: "camera" do
                        = icon('fa', 'camera')
                      = i.file_field :picture, id: "item_images_attributes_3_picture", class: "img", style: "display: none;", name: "item[images_attributes][3][picture]"

                      = i.label :picture, for: "item_images_attributes_4_picture", class: "camera" do
                        = icon('fa', 'camera')
                      = i.file_field :picture, id: "item_images_attributes_4_picture",  class: "img", style: "display: none;", name: "item[images_attributes][4][picture]"
                    #image-box-2
                      = i.label :picture, for: "item_images_attributes_5_picture", class: "camera" do
                        = icon('fa', 'camera')
                      = i.file_field :picture, id: "item_images_attributes_5_picture", style: "display: none;", name: "item[images_attributes][5][picture]"

                      = i.label :picture, for: "item_images_attributes_6_picture", class: "camera" do
                        = icon('fa', 'camera')
                      = i.file_field :picture, id: "item_images_attributes_6_picture", style: "display: none;", name: "item[images_attributes][6][picture]"

                      = i.label :picture, for: "item_images_attributes_7_picture", class: "camera" do
                        = icon('fa', 'camera')
                      = i.file_field :picture, id: "item_images_attributes_7_picture", style: "display: none;", name: "item[images_attributes][7][picture]"

                      = i.label :picture, for: "item_images_attributes_8_picture", class: "camera" do
                        = icon('fa', 'camera')
                      = i.file_field :picture, id: "item_images_attributes_8_picture", style: "display: none;", name: "item[images_attributes][8][picture]"

                      = i.label :picture, for: "item_images_attributes_9_picture", class: "camera" do
                        = icon('fa', 'camera')
                      = i.file_field :picture, id: "item_images_attributes_9_picture", style: "display: none;", name: "item[images_attributes][9][picture]"
                      %label{for: "img-file"}
                        %i.fas.fa-camera
                      - if @item.errors.any?
                        %p.red 画像がありません
                  #Input_error__image

      .Contents__name
        .Contents__name__form
          %span.Contents__name__form--text 商品名
          %span.Contents__name__form--must 必須
        = f.text_field :name, placeholder: :"商品名(40文字まで)", class: :"Contents__name--input", id: "item_name"
        #Input_error__itemname
        .Contents__name__description
          %span.Contents__name__description--text 商品の説明
          %span.Contents__name__description--must 必須
        = f.text_area :description, placeholder: :"商品の説明(1000文字以内)", class: :"Contents__name--input-big", id: "item_description"
        #Input_error__description

      .Contents__detail
        .Contents__detail__title
          .Contents__detail__title--text
            商品の詳細
        .Contents__detail__list
          .Contents__detail__list__category
            %span.Contents__detail__list__category--text カテゴリー
            %span.Contents__detail__list__category--must 必須
            .form.relative#select
              = f.collection_select :category_id, @parents, :id, :genre,{prompt: "選択してください"}, class: "select-default", id: "parent_form", genre: 'item[category_ids][]'
              = icon('fa', 'chevron-down', class: 'icon')
              #Input_error__category
      
          .Contents__detail__list__brand
            = f.fields_for :brand do |b|
              %span.Contents__detail__list__brand--text ブランド
              %span.Contents__detail__list__brand--any 任意  
              = b.text_field :name, placeholder: "シャネル", value: "", class: 'Contents__detail__list__brand--input'
          

          .Contents__detail__list__status
            %span.Contents__detail__list__status--text 商品の状態   
            %span.Contents__detail__list__status--must 必須

            .form.relative  
              = f.select :status, [['新品、未使用', '新品、未使用'], ['未使用に近い', '未使用に近い'], ['目立った傷や汚れなし', '目立った傷や汚れなし']], {include_blank: "選択してください", selected: 1}, { id: "item_id", class: "select-default"}
              = icon('fa', 'chevron-down', class: 'icon')
              #Input_error__status
      
      .Contents__delivery
        .Contents__delivery__title
          .Contents__delivery__title--text
            配送について
          = link_to "#" do
            = icon('fa', 'question-circle', class: 'Contents__delivery__title--icon')
        
        .Contents__delivery__category 

          .Contents__delivery__category__burden 
            %span.Contents__delivery__category__burden--text 配送料の負担
            %span.Contents__delivery__category__burden--must 必須
            .form.relative
              = f.select :charge, [['送料込み(出品者負担)', '送料込み(出品者負担)'], ['着払い(購入者負担)', '着払い(購入者負担)']], {include_blank: "選択してください", selected: 1}, { id: "item_charge", class: "select-default"}
              = icon('fa', 'chevron-down', class: 'icon')
              #Input_error__charge

          .Contents__delivery__category__area
            %span.Contents__delivery__category__area--text 配送元の地域
            %span.Contents__delivery__category__area--must 必須
            .form.relative
              = f.collection_select :area, Prefecture.all, :id, :name, prompt: "選択してください", id: "item_area"
              = icon('fa', 'chevron-down', class: 'icon')
              #Input_error__area

          .Contents__delivery__category__date
            %span.Contents__delivery__category__date--text 配送までの日数
            %span.Contents__delivery__category__date--must 必須 
            .form.relative
              = f.select :day, [['1~2日で発送', '1~2日で発送'], ['2~3日で発送', '2~3日で発送'], ['4~7日で発送', '4~7日で発送']], {include_blank: "選択してください", selected: 1}, { id: "item_day", class: "select-default"}
              = icon('fa', 'chevron-down', class: 'icon')
              #Input_error__day
      
      .Contents__price
        .Contents__price__title
          .Contents__price__title--text
            販売価格(300〜9,999,999)
          = link_to "#" do
            = icon('fa', 'question-circle', class: 'Contents__price__title--icon') 

        .Contents__price__right
          .Contents__price__right__category
            .Contents__price__right__category__list
              .Contents__price___right__category__list--text
                価格
              .Contents__price__right__category__list--must
                必須
            .Contents__price__right__category__form
              .Contents__price__right__category__form--text
                ¥ 
              = f.text_field :price, placeholder: :"例) 300", class: :"Contents__price__right__category__form--field", id: "price_calc"
              
          #Input_error__price
          .Contents__price__right__commission
            .Contents__price__right__commission--text
              販売手数料 (10%)
            .Contents__price__right__commission--rod   
              ➖

          .Contents__price__right__profit
            .Contents__price__right__profit--text
              販売利益
              = f.number_field "#", style: "display: none", id: "price"
            .Contents__price__right__profit--rod    
              ➖
        
      .Contents__Exhibition
        .Contents__Exhibition__text
          %p
            = link_to "禁止されている出品", "#", class: "Contents__Exhibition__text--link"
            ,
            = link_to "行為", "#", class: "Contents__Exhibition__text--link"
            を必ずご確認ください。
          %pまたブランド品でシリアルナンバー等がある場合はご記載ください。
          %p
            = link_to "偽ブランドの販売", "#", class: "Contents__Exhibition__text--link"
            は犯罪であり処罰される可能性があります。
          %p
            また、出品をもちまして
            = link_to "加盟店規約", "#", class: "Contents__Exhibition__text--link"
            に同意したことになります。
        
        .Contents__Exhibition__btn
          = f.submit "出品する", class: "post", id: "ItemInput__btn"

        
          = link_to "もどる", "#", class: "Contents__Exhibition__btn--return"
    
  = render "/shared/footerB"

 


