= render partial: 'shared/headerA'

.GoodDetealContents
  .GoodDetealContents__main
    .GoodDetealContents__main--goodName
      = @item.name

    .GoodDetealContents__main--images
      = image_tag '@images.picture.url'
      -# = image_tag 'items/a004.png', class: 'GoodDetealContents__main--images__mainImage'
      -# = image_tag 'items/a004.png', class: 'GoodDetealContents__main--images__subImage'
      -# = image_tag 'items/a005.png', class: 'GoodDetealContents__main--images__subImage'
      -# = image_tag 'items/a006.png', class: 'GoodDetealContents__main--images__subImage'

    .GoodDetealContents__main--priceingInformation
      .GoodDetealContents__main--priceingInformation__price
        ¥#{@item.price}
      .GoodDetealContents__main--priceingInformation__priceSupplement
        (税込) 送料込み
        
    .GoodDetealContents__main--goodDescription
      .GoodDetealContents__main--goodDescription__goodName
        = @item.description

      %table{border: '1', class: '.GoodDetealContents__main--goodDescription__goodName__goodtable',align: 'center'}
        %tr
          %th 出品者
          %td 
            = @user.nickname
        %tr
          %th カテゴリー
          %td
            = link_to '#' do
              %p 
                = @category.parent.parent.genre
            = link_to '#' do
              %p 
                = @category.parent.genre
            = link_to '#' do
              %p 
                = @category.genre
        %tr
          %th ブランド
          %td
            = @brand.try(:name)
        %tr
          %th 商品の状態
          %td
            = @item.status
        %tr
          %th 配送料の負担
          %td
            = @item.charge
        %tr
          %th 発送元の地域
          %td 
            = link_to '#' do
              = @item.area
        %tr
          %th 発送日の目安
          %td 
            = @item.day

    .GoodDetealContents__main--options
      .GoodDetealContents__main--options__favorite
        %i.fas.fa-star
        お気に入り 0

      .GoodDetealContents__main--options__report
        %i.fa.fa-flag
        不適切な商品の通報

  .GoodDetealContents__edit
    .GoodDetealContents__edit--editButtan
      商品の編集
    .GoodDetealContents__edit--or
      or
    .GoodDetealContents__edit--deleteButtan
      この商品を削除する

  .GoodDetealContents__comments
    %textarea{class: 'GoodDetealContents__comments--commentform'}

    .GoodDetealContents__comments--commentSupplement
      %p 相手のことを考え丁寧なコメントを心がけましょう。
      %p 不快な言葉遣いなどは利用制限や退会処分となることがあります。

    .GoodDetealContents__comments--commentButtan
      %i.fas.fa-comment
      コメントする

  .GoodDetealContents__paginate
    .GoodDetealContents--prev
      = link_to '#' do
        %i.fa.fa-angle-left
        前の商品
    .GoodDetealContents--next
      = link_to '#' do
        後ろの商品
        %i.fa.fa-angle-right

  .GoodDetealContents__more
    = link_to 'メンズをもっと見る', '#'

= render partial: 'shared/appBanner'
= render partial: 'shared/footerA'